<div class="container">
  <header>
    <h3 class="text-blue-500 text-xl font-black p-4 text-center">
      Administrar Banners
    </h3>
  </header>

  <div
    class="flex justify-center shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
  >
    <table class="bg-slate-50 w-full divide-y divide-gray-200 table-auto">
      <thead class="bg-blue-500 text-white">
        <tr class="text-left text-xs font-bold uppercase">
          <td scope="col" class="px-6 py-3">Nombre</td>
          <td scope="col" class="px-6 py-3">Url</td>
          <td scope="col" class="px-6 py-3">Editar</td>
          <td scope="col" class="px-6 py-3">Eliminar</td>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <tr
          *ngFor="let item of listCategories"
          class="text-sm font-medium text-gray-900"
        >
          <td class="px-6 py-4">{{ item.nombre }}</td>
          <td class="px-6 py-4">
            <img class="max-w-sm" src="{{ urlRaiz + item.url }}" alt="" />
          </td>
          <td class="px-6 py-4">
            <button
              (click)="onEdit(item)"
              class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition"
            >
              <i class="fas fa-edit"></i>
            </button>
          </td>
          <td>
            <button
              (click)="onDelete(item.id_medios)"
              class="inline-flex items-center justify-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-red-500 focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 active:bg-red-600 disabled:opacity-25 transition"
            >
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="my-10">
    <p class="text-xs text-gray-400">
      Dimensiones recomendadas: 1200px por 400px.
    </p>
    <div class="py-5 form-group">
      <label for="image">Cargar Banner </label>
      <input
        type="file"
        formControlName="image"
        name="image"
        id="image"
        class="form-control"
        (change)="uploadImage($event)"
      />

      <div *ngIf="submitted && f['image'].errors" class="invalid-feedback">
        <div class="text-red-500" *ngIf="f['image'].errors['required']">
          Seleccionar archivo
        </div>
      </div>
    </div>
    <button type="submit" class="boton-azul">Crear Nuevo</button>
  </form>
</div>
