<div class="container w-[90%] mx-auto">
  <div class="grid grid-cols-5 gap-4">
    <div class="col-span-3 bg-gray-200 p-10">
      <h2
        class="text-xl sm:text-2xl md:text-3xl text-gray-700 font-semibold mb-4 leading-tight font-subtitulo border-b-8 inline border-blue-400"
      >
        ANALITICA DIGITAL
      </h2>

      <p class="mt-4 text-gray-600">
        Todo dashboard y reporte conlleva al uso de diversos tipos de
        visualizaciones acorde a los requerimientos y necesidades de información
        del negocio, demandas que van de la mano según la complejidad de este
        último. Es decir, mientras el responsable de toma de decisiones requiere
        mayor detalle en los informes, deben emplearse visualizaciones y
        gráficas cada vez más especializadas.
      </p>

      <ul class="list-disc mt-4">
        <li class="text-gray-600">
          Aprende a contar historias a través de los datos aplicando buenas
          prácticas de narrativa, teoría del color y todo aplicado en una
          herramienta de visualización.
        </li>
        <li class="text-gray-600">
          Aprende a construir indicadores de negocio y su proceso de
          implementación e integración en un Dashboard con una herramienta de
          visualización.
        </li>
        <li class="text-gray-600">
          Aprende a implementar, en una herramienta de visualización, gráficas
          para el análisis de datos aplicables a todo negocio, como es el caso
          de pronósticos (forecast), clustering de clientes, y gráficos animados
          (Time-line). Así como a construir gráficas personalizadas basadas en
          lenguajes de programación, como es el caso Python.
        </li>
      </ul>

      <div class="flex justify-end mt-4">
        <a href="#" class="bg-blue-500 text-white font-bold py-2 px-4 rounded"
          >Descargar brochure</a
        >
      </div>
    </div>
    <div class="col-span-2 bg-gray-300 p-4">
      <img
        src="https://images.pexels.com/photos/2451616/pexels-photo-2451616.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
    </div>
  </div>
</div>
