<div class="mb-4 rounded bg-gray-50 dark:bg-gray-800"></div>

<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8"
>
  <div
    class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden transform transition-transform duration-300 hover:scale-105"
  >
    <a routerLink="/admin/banners">
      <img
        class="w-full h-48 object-cover"
        src="assets/images/dashboard/banners.jpg"
        alt="Card Image"
      />
      <div class="p-6">
        <h1 class="text-center text-xl font-bold">Banners</h1>
      </div>
    </a>
  </div>
  <div
    class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden transform transition-transform duration-300 hover:scale-105"
  >
    <a routerLink="/admin/sliders">
      <img
        class="w-full h-48 object-cover"
        src="assets/images/dashboard/slider.jpg"
        alt="Card Image"
      />
      <div class="p-6">
        <h1 class="text-center text-xl font-bold">Slider</h1>
      </div>
    </a>
  </div>
  <div
    class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden transform transition-transform duration-300 hover:scale-105"
  >
    <a routerLink="/admin/equipo">
      <img
        class="w-full h-48 object-cover"
        src="assets/images/dashboard/nuestro-equipo.jpg"
        alt="Card Image"
      />
      <div class="p-6">
        <h1 class="text-center text-xl font-bold">Nuestro Equipo</h1>
      </div>
    </a>
  </div>
  <div
    class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden transform transition-transform duration-300 hover:scale-105"
  >
    <a routerLink="/admin/servicios">
      <img
        class="w-full h-48 object-cover"
        src="assets/images/dashboard/servicios.jpg"
        alt="Card Image"
      />
      <div class="p-6">
        <h1 class="text-center text-xl font-bold">Servicios</h1>
      </div>
    </a>
  </div>
  <div
    class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden transform transition-transform duration-300 hover:scale-105"
  >
    <a routerLink="/admin/dashboard">
      <img
        class="w-full h-48 object-cover"
        src="assets/images/dashboard/formulario.jpg"
        alt="Card Image"
      />
      <div class="p-6">
        <h1 class="text-center text-xl font-bold">Formulario</h1>
      </div>
    </a>
  </div>
  <div
    class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden transform transition-transform duration-300 hover:scale-105"
  >
    <a routerLink="/admin/dashboard">
      <img
        class="w-full h-48 object-cover"
        src="assets/images/dashboard/noticias.jpg"
        alt="Card Image"
      />
      <div class="p-6">
        <h1 class="text-center text-xl font-bold">Publicaciones</h1>
      </div>
    </a>
  </div>
  <div
    class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden transform transition-transform duration-300 hover:scale-105"
  >
    <a routerLink="/admin/dashboard">
      <img
        class="w-full h-48 object-cover"
        src="assets/images/dashboard/configuracion.jpg"
        alt="Card Image"
      />
      <div class="p-6">
        <h1 class="text-center text-xl font-bold">Configuración</h1>
      </div>
    </a>
  </div>
</div>
